.container {
  border: 4px solid black;
  width: 300px;
  height: 400px;
  margin: 40px auto;
  background-color: darkred;
  font-family: Arial, Helvetica, sans-serif;
}

.display {
  display: grid;
  height: 55%;
  border: solid black 2px;
  margin: 5px 10px;
  background-color: rgb(36, 36, 36);
  grid-template-rows: 1fr 1fr;
}
.current-typing {
  align-self: end;
  text-align: right;
  padding: 6px;
  color: white;
  font-weight: bolder;
  font-size: 30px;
}

.previous-text {
  text-align: right;
  color: rgb(236, 236, 77);
  padding: 6px;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-content: end;
  gap: 10px;
  text-align: center;
  margin: 5px 10px;
}

.button {
  border: 2px black solid;
  padding: 5px;
  background-color: wheat;
}

.button:hover {
  background-color: cornflowerblue;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
