.container {
  border: 3px solid black;
  width: 300px;
  height: 400px;
  margin: 40px auto;
  background-color: rgb(130, 190, 215);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  box-shadow: 1px 1px 1px;
}

.display {
  display: grid;
  height: 55%;
  border: solid black 2px;
  margin: 5px 10px;
  background-color: rgba(177, 177, 177, 0.906);
  grid-template-rows: 1fr 1fr;
}
.current-typing {
  align-self: end;
  text-align: right;
  padding: 6px;
  color: rgb(45, 45, 45);
  font-weight: bolder;
  font-size: 30px;
}

.previous-text {
  text-align: right;
  color: rgb(245, 51, 51);
  padding: 6px;
  font-weight: 600;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-content: end;
  gap: 10px;
  text-align: center;
  margin: 10px;
}

button {
  border-radius: 6px;
  border: 2px black solid;
  padding: 5px;
  background-color: wheat;
}

button:hover {
  background-color: rgba(248, 89, 57, 0.934);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
